.wrapper {
    display: grid;
    grid-template-areas:
        "header header header"
        "main main main"
        "main main main"
        "footer footer footer";

}

.header {
    grid-area: header;

}

.main {
    grid-area: main;

}

.footer {
    grid-area: footer;
    margin-top: 1rem;

}

.footer__content {
    /* width: 100%; */
    padding-block: 1rem;
    font-weight: bold;
    background-color: black;
    color: white;
}


/* Animation */
.about--details {
    animation: myAnim 4s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(45px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateY(24px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateY(12px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateY(6px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateY(4px);
    }

    25%,
    55%,
    75%,
    87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Animation Ends */